@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Texto principal */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

/* Texto secundario */
span,
p,
a,
li,
.btn {
    font-family: 'Orbitron', sans-serif;
    color: #D3D3D3
}

/* ENLACES */
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* BOTONES Y ENLACES */
/* Primario */
.btn-level-up{
    background-color: #1E90FF;
}

/* Secundario */
.btn-level-up-secondary{
    background-color: #39FF14;
}

/* HOME */

/* CARRUSEL */
.carousel-inner > .carousel-item > img{
    max-height: 249px;
}
