#carouselHero .carousel-inner .carousel-item img {
    height: 400px;
    object-fit: cover;
}

.tienda-cart .card-img-top {
    height: 300px;
    object-fit: cover;
}

.scroll {
    overflow-x: hidden;
    height: 700px;

}


.scroll::-webkit-scrollbar {
    width: 12px;
}

.scroll::-webkit-scrollbar-track {
    background-color: #212529;
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #0dcaf0;
    border-radius: 10px;
    border: 3px solid #212529;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #31d4f5;
}

.scroll {
    scrollbar-width: thin;
    scrollbar-color: #0dcaf0 #212529;
}

.password-eye {
    top: 50%;
    right: 12px;
    transform: translateY(-5%);
    color: #555;
    padding: 0;
}

.password-eye:hover {
    color: #000;
}